


<% @todo_lists.each do |todo_list| %>
 <div class="index_row clearfix">
 <h2 class="todo_list_title"><%= link_to todo_list.title, todo_list %></h2>
  <p class= "todo_list_sub_title"><%= todo_list.discription %></p>

  </div>

<%end%>

<% if user_signed_in? %>
<%=current_user.name%>你好
<%= link_to "登出", destroy_user_session_path, method:"delete" %>
<% else %>
<%= link_to "註冊", new_user_registration_path %>
<%= link_to "登入", new_user_session_path %>
<%end%>



<div class="links">
  <%= link_to "New Todo List", new_todo_list_path %>
</div>
